.buttonColor{
    --slds-c-button-brand-color-border : #A336F0;
    --slds-c-button-brand-color-background-active : #A336F0;
    --slds-c-button-brand-color-background : #A336F0;
    --slds-c-button-brand-color-background-hover : #6602A3;
}