.spinnerIcon{
    --lwc-brandPrimary: #6602A3;
}
header.slds-modal__header {
    background-color: #A336F0;
    color: #fff;
    font-weight: 600;
}
h1.lineItemsHeader{
    background-color: #A336F0;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
table.parentTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
}

table.childTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: inline-table;
}


td, th{
    border: 1px solid #cab6da;
    text-align: center;
    padding: 8px;
}
.theadCss{
    background-color: #ebeaea;
}
footer.slds-modal__footer {
    text-align: center;
}
.slds-modal__footer button.slds-button, p button.slds-button{
    background-color: #A336F0;
    margin: 5px;
    color: #fff;
}
.buttonColor{
    --slds-c-button-brand-color-border : #A336F0;
    --slds-c-button-brand-color-background-active : #A336F0;
    --slds-c-button-brand-color-background : #A336F0;
    --slds-c-button-brand-color-background-hover : #6602A3;
}