.slds-section-title_divider.slds-m-top_medium.slds-m-bottom_medium{
    font-size: .75rem;
    line-height: 1.25;
    color: black;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    padding: 0.5rem 1rem;
    background: var(--slds-g-color-neutral-base-95, rgb(243, 243, 243));
}
/* .spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
} */
.spinnerIcon{
    --lwc-brandPrimary: #6602A3;
}