.spinnerIcon{
    --lwc-brandPrimary: #6602A3;
}
.buttonColor{
    --slds-c-button-brand-color-border : #A336F0;
    --slds-c-button-brand-color-background-active : #A336F0;
    --slds-c-button-brand-color-background : #A336F0;
    --slds-c-button-brand-color-background-hover : #6602A3;
}
.slds-modal__footer button.slds-button, p button.slds-button{
    background-color: #A336F0;
    margin: 5px;
    color: #fff;
}
header.slds-modal__header {
    background-color: #A336F0;
    color: #fff;
    font-weight: 600;
}
footer.slds-modal__footer {
    text-align: center;
}
 .closeIcon {
        display:none !important;
    }
    button.slds-button.slds-button_icon.slds-modal__close.closeIcon.slds-button_icon-bare{
        display:none !important;
    }